.main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers children vertically */
    align-items: center; /* Centers children horizontally */
    height: 100vh; /* Ensures the main container takes up full height */
}


