.SearchBarContainer {
    display:flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 3rem;
    width: 50%;
    
}

.SearchBarContainer input {
    border-style: solid;
    border-radius: 2rem;
    border-color: black;
    padding: 1rem;
    width: 20rem;
    font-family:helvetica;
    font-size: 2rem;
    border-width:0.1rem;
    transition: 0.2s ease-in-out;
    align-self: center;
}

.SearchBarContainer input:focus {
    outline: none;
    border-width:0.20rem;
}

.Suggestion {
    font-family: helvetica;
    position: relative;
    font-size: 0.8rem;
    right: 20.6rem;
    top: 0;
    height: 100%;
    line-height: 30px; /* Adjust based on input height */
    color: gray;
    pointer-events: none;
    white-space: nowrap;
    z-index: 1;
}
