.SearchResultContainer {
    display: flex;
    flex-direction:column;
    padding:1.5rem;
    position:relative;
    text-align:left;
    font-family:helvetica;
    font-weight:initial;
    font-weight:100;
    font-weight:200;
    transition: all 0.2s ease-in-out;
    border-radius:0.8rem;
    right: 2rem;
    max-width:40rem;
}


.SearchResultContainer:hover{
    cursor: pointer;
    text-decoration: underline;
}
